*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}

bg{
    height: 100%;
}

body{
    background-color: rgb(39, 39, 39);
    color: white;
}

.container {
    display: grid;
    grid-template-rows: auto 700px;
    grid-template-columns: auto 500px auto;
}

header{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    grid-row: 2;
    grid-column: 2;
}

form{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.cbc {
  width: 60px;
  height: 20px;
  background: #555;
  position: relative;
  border-radius: 10000px;
  display: flex;
  justify-content: center;
}

input[type="radio"]{
    visibility: hidden;
    width: 60px;
}

input[type="checkbox"] {
  visibility: hidden;
  width: 60px;
}

.cbc label {
  display: block;
  width: 62px;
  height: 22px;
  border-radius: 50px;

  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;

  background: #555;
}

.cbc label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3.7px;

  background: #ccc;
}

.cbc input[type="checkbox"]:checked + label::after {
  left: 41px;
  background-color: white;
}

.cbc input[type="radio"]:checked + label::after {
  left: 41px;
  background-color: white;
}

.cbc input[type="checkbox"]:checked + label {
  background-color: #4e9b41;
}

.cbc input[type="radio"]:checked + label {
  background-color: #4e9b41;
}

input[type="checkbox"]:focus{
        outline:0;
}

.subcontainer{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.radiocontainer{
    border-left: 2px solid white;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 10px;
}

button{
    background-color: #414141;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #525252;
}

input[type=email], input[type=text], input[type=number], select{
    background-color: #414141;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #525252;
}

input[type=number]{
    width: 70px;
}

textarea{
     background-color: #414141;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #525252;
}